{% extends "base.html" %}

{% block content %}
        <h1>Signup</h1>
        <form action="/signup" method="POST">
            <table>
            <tr>
            <td><label>username:</label></td>
               <td><input type="text" name="username" value="{{ username }}" />
               <span class="error">{{ username_error }}</span></td>
            </tr>
            <br>
            <tr>
            <td><label>Password:</label></td>
                <td><input type="password" name="password" />
                <span class="error">{{ password_error }}</span></td>
           </tr>
            <br>
            <tr>
            <td><label>Verify Password:</label></td>
                <td><input type="password" name="verifypassword" />
                <span class="error">{{ verify_error }}</span></td>
            </tr>
            <br>
            </table>
            <br>
            <label>Submit:</label>
                <input type="submit" />
        </form>

{% endblock %}