{% extends "base.html" %}

{% block content %}
<center><h1>User Posts!</h1></center>

        <ul style="list-style-type: none">
            {% for blog in completed_blogs %}
                
            <strong><h2><li><a href="./blog?id={{blog.id}}">{{blog.title}}</a></li></h2></strong>
            <br>
            <li>{{blog.body}}</li>
            <p><em>Written by <a href="./blog?user={{blog.owner.id}}">{{blog.owner.username}}</a></em></p>
            <hr />
             
            {% endfor %}         
        </ul>


{% endblock %}